// Container
// *------------------------------------------------*
#main-outlet {
  margin-top: 42px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: #FAFFFD;
  //width: 75%;
  //max-width: 1110px;
  padding: 3em 3em 5%;
  padding-bottom: 5% !important;
  box-shadow: 0 1px 8px rgba(64,64,64,0.18);
}

// Navigation Bar
// *------------------------------------------------*
.nav-pills li a {  
  &.active {
    border-bottom: 2px solid #ff3a2d;
    border-radius: 2px;
    background: none;
    color: #000000;
  }
  &:hover {
    border-radius: 2px;
    background-color: #f2b6ae;
    color: #000000;
  }
}

.list-controls .combo-box .combo-box-header {
  background: transparent;
  color: #000000;
  border: 2px solid #ff3a2d;
  border-radius: 4px;
}

// Topic List
// *------------------------------------------------*
table {
  tbody {
    border-top: 3px solid #7F1C16;
    tr {
      border-bottom: 1px solid #BF2A22;
    }
  }
}

// Topic Page
// *------------------------------------------------*
.topic-body, .topic-avatar {
  border-top: 3px solid #7F1C16;
}

.timeline-container .topic-timeline { 
  .timeline-scrollarea {
    border-color: #BF2A22;
  }
  .timeline-handle {
    background-color: #BF2A22;
  }
}

.topic-list-item.visited a.title:not(.badge-notification), .latest-topic-list-item.visited a.title:not(.badge-notification), .category-topic-link.visited a.title:not(.badge-notification) {
	color: #404040;
}

// Buttons
// *------------------------------------------------*
.btn {
  border-radius: 4px;
  background: #A0A0A0;
  color: #FFFFFF;
  .discourse-no-touch & {
    &:hover, 
    &.btn-hover {
      color: #FFFFFF;
      background: #BF2A22;
      .d-icon {
        color: #FFFFFF;
      }
    }
  }
  &:hover, 
  &.btn-hover {
    color: #FFFFFF;
    background: #BF2A22;
    .d-icon {
      color: #FFFFFF;
    }
  }
  &:active, 
  &.btn-active {
    background-image: none;
    background-color: #BF2A22;
    color: #FFFFFF;
    .d-icon {
      color: #FFFFFF;
    }
  } 
}

.btn-danger {
  background: $danger;
  .discourse-no-touch & {
    &:hover, 
    &.btn-hover {
     background: $danger-hover;    
    }
  }
}

.btn-primary {
  background: #ff3a2d;
  color:  #FFFFFF;
  .d-icon {
    color:  #FFFFFF;  
  }
}

.btn .d-icon {
	color: #FFFFFF;
}



// Extra Info Header Primary
// *------------------------------------------------*
.extra-info-wrapper .topic-link {
  color: #FFFFFF;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrap{
  max-width: 1200px;
}

.popup-menu .btn {
	text-align: left;
	background: #C0C0C0;
	width: 100%;
	padding: 0.75em;
	border-radius: 0;
}

#reply-control {
  &.draft,
  &.saving {
    background-color: #ff3a2d;
  }
}

.open .grippie {
	cursor: row-resize;
	padding: 4px 0;
	background: #FF3A2D;
}


// Pinned Topics
.pinned {
    background: #DDDDDD;
    font-weight: bold;
}
.pinned.visited {
    background: transparent;
    font-weight: normal;
}


.anon .topic-list-main-link a.title:visited:not(.badge-notification), .anon .topic-list .main-link a.title:visited:not(.badge-notification), .topic-list .anon .main-link a.title:visited:not(.badge-notification), .anon .latest-topic-list-item .main-link a.title:visited:not(.badge-notification), .latest-topic-list-item .anon .main-link a.title:visited:not(.badge-notification) {
	color: #000000;
}

// Badges for new and unread topics
.badge-notification.new-posts, .badge-notification.unread-posts {
	background-color: #FF3A2D;
	color: var(--secondary);
	font-weight: normal;
}

.badge-notification.new-topic::before {
	content: "";
	background: #ff3a2d;
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}
