$color-white: #ffffff;
$color-black: #000000;
$color-violet: #a690ff;
$color-red: #FF3A2D;
$color-orange: #ff6a00;
$color-cream: #FAFFFD;
$color-green: #a0e7a0;
$color-brown: #987F51;
$color-yellow: #E9E2BE;
$color-grey: #E6DED0;
$color-pale-orange: #FFAC75;
$header-gradient: linear-gradient(82deg, rgba(242,182,174,1) 0%, rgba(255,218,193,1) 13%, rgba(247,243,205,1) 27%, rgba(180,241,179,1) 44%, rgba(166,213,253,1) 63%, rgba(153,168,209,1) 78%, rgba(188,176,238,1) 92%);

$radius-2: 2px;
$radius-4: 4px;