html {
  font-family: 'Oxanium';
  color: #000000;
  background: #ffffff;
}
// New Topic Button
// *------------------------------------------------*
#create-topic {
  color: #000000;
  background: #FF3A2D;
  border-radius: 4px;
  .fa {
    color: #000000;
  }
  &:hover {
    background: #BF2A22;
    color: #000000;
    border-radius: 4px;
    .fa {
      color: #000000;
    }
  }
}

.open .grippie {
  background: inear-gradient(82deg, rgba(242,182,174,1) 0%, rgba(255,218,193,1) 13%, rgba(247,243,205,1) 27%, rgba(180,241,179,1) 44%, rgba(166,213,253,1) 63%, rgba(153,168,209,1) 78%, rgba(188,176,238,1) 92%);;
}

// User Card Avatars
// *------------------------------------------------*
.user-card-avatar img.avatar {
  background-image: inear-gradient(82deg, rgba(242,182,174,1) 0%, rgba(255,218,193,1) 13%, rgba(247,243,205,1) 27%, rgba(180,241,179,1) 44%, rgba(166,213,253,1) 63%, rgba(153,168,209,1) 78%, rgba(188,176,238,1) 92%);;
  border: 4px solid transparent;
}

// Advanced Search
// *------------------------------------------------*
.search-container .search-advanced-sidebar {
  .search-advanced-title {
    background: inear-gradient(82deg, rgba(242,182,174,1) 0%, rgba(255,218,193,1) 13%, rgba(247,243,205,1) 27%, rgba(180,241,179,1) 44%, rgba(166,213,253,1) 63%, rgba(153,168,209,1) 78%, rgba(188,176,238,1) 92%);;
    border-radius: 10px 10px 0 0;
  }
  .search-advanced-filters {
    border-radius: 0 0 10px 10px;
  }
}

// Admin
// *------------------------------------------------*
.admin-controls {
  .nav-pills>li a.active {
    background: none;
  }

}

// Header
// *------------------------------------------------*
//.d-header {
//  background-color: #313131;
//  background-image: inear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
//  height: 5em;
//}

.d-header {
    box-shadow: none;
    background-color: #313131;
    height: 70px;
}

.d-header-icons {
    .d-icon {
        font-size: 1.45rem;
    }
}

.d-header-icons .icon:hover, .d-header-icons .icon:focus {
    background-color: #FAFFFD;
}

.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon {
    color: #FF3A2D;
}

.drop-down-mode .d-header-icons .active .icon .d-icon {
    color: #E9E2BE;
}

.drop-down-mode .d-header-icons .active .icon {
    background-color: #FF3A2D;
    border-radius: 2px;
   // border: 0;  
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent; 
}

.drop-down-mode .d-header-icons .active .icon:after {
    border-top: 1px solid transparent;
}

//header icon hover
.d-header-icons .icon:hover, .d-header-icons .icon:focus {
    background-color: #FF6D66;   
    border-radius: 2px;
}

.d-header-icons .icon:hover .d-icon, .d-header-icons .icon:focus .d-icon {
    color: #E9E2BE;
}

//header icon unread notification
.d-header-icons .unread-notifications {
    background-color: #49a9f2;
}

//dropdown header menu

.menu-panel.drop-down {
    margin-top: 6px;
}

.menu-panel {
    border: 0;
    background-color: #FAFFFD;
    border-radius: 2px;

    hr {
        border-color: #ff3a2d;
    }
}

.menu-panel .badge-notification {
    color: #000000;
    background-color: #FF6D66;
}


.menu-panel li a.widget-link:hover, .menu-panel li a.widget-link:focus, .menu-panel li.heading a.widget-link:hover, .menu-panel li.heading a.widget-link:focus {
    background-color: #FF6D66;
    border-radius: 2px;
}


//header search menu  input
.search-menu input[type="text"] {
    border-radius: 2px;
    color: #e8bc6b;
  
    &::placeholder {
      color: #e8bc6b;
    }
  
    &::-ms-input-placeholder {
      color: #e8bc6b;
    }
  
    &::-ms-input-placeholder {
      color: #e8bc6b;
    }
  
}

// Header menu color
.custom-header-links .headerLink a {
	padding: 6px 10px;
	color: #FFFFFF;
	font-size: 1.1487em;
} 


// Loading slider 
/*
.loading-indicator-container {
  --loading-width: 80%;
  --still-loading-width: 90%;

  --still-loading-duration: 10s;
  --done-duration: 0.4s;
  --fade-out-duration: 0.4s;

  position: fixed;
  top: 0;
  left: 0;
  z-index: z("header") + 1;

  height: 5px;
  width: 100%;

  opacity: 0;
  transition: opacity var(--fade-out-duration) ease var(--done-duration);

  background-color: var(--primary-low);

  .loading-indicator {
    height: 100%;
    width: 100%;
    width: 0%;
    background-color: #FF3A2D;
  }

  &.loading,
  &.still-loading {
    opacity: 1;
    transition: opacity 0s;
  }

  &.loading .loading-indicator {
    transition: width var(--loading-duration) ease-in;
    width: var(--loading-width);
  }

  &.still-loading .loading-indicator {
    transition: width var(--still-loading-duration) linear;
    width: var(--still-loading-width);
  }

  &.done .loading-indicator {
    transition: width var(--done-duration) ease-out;
    width: 100%;
  }

  body.discourse-hub-webview & {
    // DiscourseHub obscures the top 1px to work around an iOS bug
    top: 1px;
  }

  body.footer-nav-ipad & {
    top: 49px; // TODO: Share $footer-nav-height from footer-nav.scss
  }
}

.below-site-header-outlet.full-page-loading-spinner {
  padding-top: 1.8em;
  display: none;
}

body.still-loading {
  .below-site-header-outlet.full-page-loading-spinner {
    display: block;
  }

  #main-outlet {
    display: none;
  }
}
*/

// body #main-outlet {
//   transition: opacity 0.2s ease;
// }

// body.loading #main-outlet {
//   opacity: 0.2;
//   transition: opacity var(--loading-duration) ease;
// }

  