// Container
// *------------------------------------------------*
#main-outlet {
  margin-top: 42px;
  margin-bottom: 50px;
  border-radius: 10px;
  background: #FAFFFD;
  //width: 75%;
  max-width: #{$main-width};
  padding: 3em 3em 5%;
  padding-bottom: 5% !important;
  box-shadow: 0 1px 8px rgba(64,64,64,0.18);
}

html {
  body {
    background-color: #{$background-color};
    background-image: url(#{$background-image});
    background-size: #{$background-size};
    background-repeat: #{$background-repeat};
    background-position: center center;
  }
}

// Navigation Bar
// *------------------------------------------------*
.nav-pills li a {  
  &.active {
    border-bottom: 2px solid #ff3a2d;
    border-radius: 2px;
    background: none;
    color: #000000;
  }
  &:hover {
    border-radius: 2px;
    background-color: #f2b6ae;
    color: #000000;
  }
}

.list-controls .combo-box .combo-box-header {
  background: transparent;
  color: #000000;
  border: 2px solid #ff3a2d;
  border-radius: 4px;
}

// Topic List
// *------------------------------------------------*
table {
  tbody {
    border-top: 3px solid #7F1C16;
    tr {
      border-bottom: 1px solid #BF2A22;
    }
  }
}

// Topic Page
// *------------------------------------------------*
.topic-body {
	width: 85%;
}

.topic-body, .topic-avatar {
  border-top: 3px solid #7F1C16;
  //margin-top: 10px;
}

.timeline-container .topic-timeline { 
  .timeline-scrollarea {
    border-color: #BF2A22;
  }
  .timeline-handle {
    background-color: #BF2A22;
  }
}

.topic-list-item.visited a.title:not(.badge-notification), .latest-topic-list-item.visited a.title:not(.badge-notification), .category-topic-link.visited a.title:not(.badge-notification) {
	color: #404040;
}

// Buttons
// *------------------------------------------------*
.btn {
  border-radius: 4px;
  background: #A0A0A0;
  color: #FFFFFF;
  .discourse-no-touch & {
    &:hover, 
    &.btn-hover {
      color: #FFFFFF;
      background: #BF2A22;
      .d-icon {
        color: #FFFFFF;
      }
    }
  }
  &:hover, 
  &.btn-hover {
    color: #FFFFFF;
    background: #BF2A22;
    .d-icon {
      color: #FFFFFF;
    }
  }
  &:active, 
  &.btn-active {
    background-image: none;
    background-color: #BF2A22;
    color: #FFFFFF;
    .d-icon {
      color: #FFFFFF;
    }
  } 
}

.btn-danger {
  background: $danger;
  .discourse-no-touch & {
    &:hover, 
    &.btn-hover {
     background: $danger-hover;    
    }
  }
}

.btn-primary {
  background: #ff3a2d;
  color:  #FFFFFF;
  .d-icon {
    color:  #FFFFFF;  
  }
}

.btn .d-icon {
	color: #FFFFFF;
}



// Extra Info Header Primary
// *------------------------------------------------*
.extra-info-wrapper .topic-link {
  color: #FFFFFF;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.wrap{
  max-width: #{$header-width};
}

.popup-menu .btn {
	text-align: left;
	background: #C0C0C0;
	width: 100%;
	padding: 0.75em;
	border-radius: 0;
}

#reply-control {
  &.draft,
  &.saving {
    background-color: #ff3a2d;
  }
  max-width: 90%;
}

#reply-control.open {
	height: 500px;
}

.open .grippie {
	cursor: row-resize;
	padding: 4px 0;
	background: #FF3A2D;
}

#reply-control {
	position: fixed;
	display: flex;
	flex-direction: column;
	bottom: 0;
	height: 0;
	right: 0;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: #{$reply-control-width};
	width: 100%;
	z-index: 400;
	transition: height 250ms ease, background 250ms ease, transform 250ms ease, max-width 250ms ease, padding-bottom 250ms ease;
	background-color: var(--secondary);
	box-shadow: 0 -1px 40px rgba(0,0,0,0.12);
}

// Header menu color
.custom-header-links .headerLink a {
	padding: 6px 10px;
	color: #FFFFFF;
	font-size: 1.1487em;
}

// Latest Topic List Items
.latest-topic-list-item {
	box-shadow: 0 2px 8px 0 rgba(35,47,53,0.15);
	border-radius: 8px;
	margin: 12px 0;
	background-color: white;
	padding: 1.5em;
}

// Latest Topic List header
/* .latest-topic-list > .table-heading {
	position: relative;
	border-radius: 6px;
	box-shadow: 0 2px 8px 0 rgba(35,47,53,0.15);
	box-sizing: border-box;
	background: #fff;
	border-top: 5px solid #FF3A2D;
	height: 128px;
	margin: 0 0 6px;
	border-bottom: none;
	font-size: 22px;
	padding-left: 15px;
} */

// Category List 
/* .category-list > .category {
	position: relative;
	border-radius: 6px;
	box-shadow: 0 0 5px rgba(0,0,0,0.12);
	box-sizing: border-box;
	background: #fff;
	padding: 20px 35px 25px;
	border-top: 15px solid #56595f;
	margin: 0 0 20px;
	padding-left: 30px;
	padding-right: 30px;
} */


// Pinned Topics
.pinned {
    background: #DDDDDD;
    font-weight: bold;
}
.pinned.visited {
    background: transparent;
    font-weight: normal;
}

// Color of sub-categories changed
.list-cell, .table-heading, .category-list td, .category-list th {
	color: #404040;
}

.badge-wrapper.bullet span.badge-category {
	color: #404040;
}

.topic-list-item.visited span.badge-category, .latest-topic-list-item.visited span.badge-category, .category-topic-link.visited span.badge-category {
	color: #404040;
}

/*
// Topic body
.topic-body {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 0 0 0 rgba(0,0,0,0.12);
	background-color: var(--material-lighter-secondary);
	margin-top: 10px;
	border-radius: 4px;
	padding: 15px 20px 0 20px;
    border-top: 3px solid #7F1C16;
}
.topic-avatar {
	border-top: 0;
	padding-right: 10px;
    padding-top: 15px;
    float: left;
    z-index: 2;
}
*/

.anon .topic-list-main-link a.title:visited:not(.badge-notification), .anon .topic-list .main-link a.title:visited:not(.badge-notification), .topic-list .anon .main-link a.title:visited:not(.badge-notification), .anon .latest-topic-list-item .main-link a.title:visited:not(.badge-notification), .latest-topic-list-item .anon .main-link a.title:visited:not(.badge-notification) {
	color: #000000;
}

// Badges for new and unread topics
.badge-notification.new-posts, .badge-notification.unread-posts {
	background-color: #FF3A2D;
	color: var(--secondary);
	font-weight: normal;
}

.badge-notification.new-topic::before {
	content: "";
	background: #ff3a2d;
	display: inline-block;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}

// Code highlighting for non logged-in users
/*
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #002b36;
}
.hljs {
    display: block;
    padding: 0.5em;
    color: var(--primary-very-high);
}
.hljs .hljs-built_in, .lisp .hljs-title, .clojure .hljs-built_in, .hljs-builtin-name, .diff .hljs-meta, .hljs-symbol, .ruby .hljs-symbol .hljs-string, .lisp .hljs-keyword, .tex .hljs-special, .hljs-prompt, .hljs-regexp, .hljs-attribute, .css .hljs-keyword, .hljs-variable, .lisp .hljs-body, .hljs-string, .hljs-tag .hljs-string, .tex .hljs-formula, .hljs-number, .ruby .hljs-constant, .hljs-comment, .hljs-doctag, .hljs-meta, .hljs-tag, .hljs-tag .hljs-title, .django .hljs-tag .hljs-keyword, .hljs-class .hljs-title, .haskell .hljs-type, .vhdl .hljs-literal, .tex .hljs-command, .hljs-title, .hljs-name, .coffeescript .hljs-params, .scss .hljs-meta, .hljs-keyword, .javascript .hljs-title, .nginx .hljs-title, .hljs-subst, .hljs-request, .hljs-status, pre > code {
    color: unset;
}
pre code {
    word-wrap: normal;
    display: block;
    padding: 0.5em;
    color: var(--primary);
    background: var(--blend-primary-secondary-5);
    max-height: 500px;
}
p > code, li > code, pre > code {
    color: var(--primary-very-high);
    background: var(--hljs-bg);
}
pre code {
    overflow: auto;
        overflow-x: auto;
    -moz-tab-size: 4;
    tab-size: 4;
}
code, pre {
    font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}
code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
.cooked, .d-editor-preview {
    word-wrap: break-word;
    line-height: var(--line-height-large);
}
[class*="archetype-"] {
    --below-topic-margin: 0.75em;
}
Element {
    --loading-duration: 0.30s;
}
*/

// horizontal line

hr {
	display: block;
	height: 1px;
	margin: 1em 0;
	border: 0;
	border-top: 1px solid #f7aeae;
	padding: 0;
}
